<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/Styles/style.css">

</head>

<body>
    <div class="container-fluid p-4 bg-dark text-white text-center">
        <h1>
            TechRevive
        </h1><br>
        <ul class="nav justify-content-center bg-light ">
            <li class="nav-item">
                <a class="nav-link  text-dark" aria-current="page" href="/introduct">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Nhập thiết bị</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-dark" href="/dstb">Danh sách</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link text-dark" href="/contact">Liên Hệ</a>
            </li>
        </ul>
    </div> <br> <br>

    <div class="anhslider"></div>

    <div class="container-sm vh-100 form-body">
        <p>Không ai có thể phủ nhận vai trò của máy tính, hay các thiết bị văn phòng trong thời điểm
            hiện tại, gần như
            là một công cụ làm việc không thể thiếu cho bạn, Cho dù bạn đang kinh doanh hay đang học tập, thì việc sở
            hữu hay sử dụng những thiết bị đó để làm việc, để học tập, để giải trí là điều tất yếu. Tuy nhiên các sản
            phẩm đó đều là thiết bị điện tử, khả năng hỏng hóc cũng thường xuyên xảy ra, gây ảnh hưởng rất nhiều đến
            bạn.
            Đáp ứng nhu cầu đó, chúng tôi cung cấp dịch vụ sửa chữa máy tính tận nơi trong nội thành TP.HCM. Hãy nhấc
            máy và gọi cho chúng tôi khi gặp sự cố.
            Với đội ngũ kỹ thuật viên lành nghề, cộng thêm tinh thần làm việc nhiệt tình, chu đáo, có trách nhiệm và uy
            tín. Chúng tôi cam kết sẽ làm bạn hài lòng với dịch vụ của chúng tôi… Chúng tôi cung cấp dịch vụ sửa chữa
            tận nơi. Thời gian nhận yêu cầu và đến địa điểm sửa chữa tối đa là 45 phút, bạn sẽ không phải chờ đợi lâu.
            Không phải vận chuyển máy tính đi lại nhiều lần, giảm khả năng hỏng hóc do vận chuyển.
            Giá cả của chúng tôi cam kết cạnh tranh so với mặt bằng chung. Khi kỹ thuật viên kiểm tra và phát hiện lỗi
            sẽ báo giá trước khi làm, nếu thấy giá quá cao, bạn có thể từ chối dịch vụ. Đặc biệt, chúng tôi có chế độ
            bảo hành sau sửa chữa. Giúp bạn yên tâm hơn về dịch vụ.</p>
        <h2>Dịch Vụ Của Chúng Tôi</h2>
        <li>Chẩn đoán và sửa chữa phần cứng.</li>
        <li>Sửa chữa màn hình máy tính xách tay.</li>
        <li>Phục hồi dữ liệu máy tính.</li>
        <li>Thay thế bo mạch chủ.</li>
        <li>Loại bỏ virus và phần mềm gián điệp.</li>
        <li>Thiệt hại lỏng máy tính xách tay.</li>
        <li>Sửa chửa bảo trì các thiết bị văn phòng.</li> <br>
        <p>
            Dịch vụ sửa chữa máy tính, thiết bị văn phòng của chúng tôi cung cấp chất lượng cao nhất cho tất cả khách
            hàng, mục tiêu của chúng tôi là cung cấp các dịch vụ tốt nhất, sửa chữa bất kỳ vấn đề trong không gian thời
            gian ngắn nhất có thể. Chúng tôi luôn đào tạo để hoàn thiện trình độ chuyên môn của chúng tôi để chúng tôi
            có thể chăm sóc cho khách hàng tốt nhất. Chúng tôi đảm bảo khắc phục và sửa chữa máy tính, các thiết bị văn
            phòng và sẽ đáp ứng tất cả nhu cầu công nghệ của bạn. Dù vấn đề của bạn lớn hay nhỏ, chúng tôi đảm bảo sửa
            chữa được nó!.</p>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark" href="https://www.facebook.com/profile.php?id=100028859328089">Anh Tu'</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>